.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
    z-index: 100;
    font-size: 0;
    height: 55px;
    color: #025157;
    padding-left: 25px;
    padding-right: 25px;

    * {
        display: inline-block;
        font-size: 16px;
        vertical-align: middle;
        height: 100%;
        line-height: 55px;
        font-family: 'Open Sans', sans-serif;
    }

    .logo {
        width: 30%;
        
        img {
            height: 50px;
            width: 50px;
        }
    }

    .navbar {
        width: 40%;
        text-align: center;
        color: #025157;
        font-weight: 500;
        .navbar li {
            margin-right: 20px;
            font-size: 18px;
        }
    }
    .actions {
        width: 30%;
        text-align: right;
    
        .sign-in {
            color: #015489;
            text-decoration: none;
            margin-right: 15px;
            margin-right: 10px;
        }
        .trial-btn {
            color: white;
            background-color: #015489;
            padding-left: 14px;
            padding-right: 14px;
            border: 0;
            border-radius: 5px;
            height: 40px;
            line-height: normal;
        }
    }
}  